<h1> Welcome to My Website </h1>
<br>
<a href='/characters'>Characters</a><br>
<a href='/films'>Films</a><br>
<a href='/planets'>Planets</a><br>
<a href='/starships'>Starships</a><br>
<a href='/vehicles'>Vehicles</a><br>
<a href='/species'>Species</a><br>
